<div class="row">
  <form #form="ngForm" class="col s6">
    <div class="row">
      <div class="input-field col s8">
        <input
          id="movie_name"
          name="movie_name"
          [(ngModel)]="movie.name"
          #name="ngModel"
          class="validate"
          value="{{ movie.name }}"
          type="text"
          required
        />
        <label for="movie_name" [ngClass]="movie.name ? 'active' : ''">
          Nome do filme *</label
        >
        <div>
          <span
            class="required-description red-text"
            [hidden]="name.untouched || name.valid"
          >
            O nome do filme é obrigatório
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea
          id="movie_comments"
          name="movie_comments"
          class="materialize-textarea"
          [(ngModel)]="movie.comments"
          value="{{ movie.comments }}"
          [class.active]="movie.comments"
        ></textarea>
        <label for="movie_comments">Comentários</label>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field">
        <div class="btn red">
          <span>File</span>
          <input
            type="file"
            accept="image/png, image/jpeg"
            (change)="onUpload($event)"
          />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" />
        </div>
      </div>
    </div>
    <app-button
      [disabled]="!form.valid"
      label="{{ buttonLabel }}"
      class="margin-right"
      type="submit"
      (action)="submitForm()"
    ></app-button>
    <app-button
      *ngIf="movie.id"
      label="Remover"
      (action)="handleRemove()"
    ></app-button>
  </form>
  <div class="col s6 m4">
    <div>
      <img class="cover" [src]="movie.cover" />
    </div>
    <div class="button-status-container">
      <app-button
        class="fluid"
        [active]="wishToWatchActive"
        color="#FAB344"
        label="Desejo assistir"
        (action)="toggleActiveStatus('wish_watch')"
      ></app-button>
      <app-button
        [active]="!wishToWatchActive"
        class="fluid"
        color="#009141"
        label="Já assisti"
        (action)="toggleActiveStatus('watched')"
      ></app-button>
    </div>
  </div>
</div>
