.small{
  height: 25em;
  width: calc(100% + 10px);
}
.footer {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-title{
  font-size: 1em;
}
.card-image{
  height: inherit;
}
.activator{
  height: inherit;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  margin-right: 0px;
}
