@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

h1 {
  font-size: 32px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 20px;
}

main {
  margin: 0 10.071em;
}

.gradient{
  background: var(--red);
  background: linear-gradient(90deg, var(--red) 23%, var(--yellow) 56%);;
}

:root{
  --white: #FAF5F5;
  --red: #DE3A2B;
  --automatic: #4D4545;
  --yellow: #FAB344;
  --link: #2B68DE;
  --green: #009141;
}
